@import 'tailwindcss';
@import 'tw-animate-css';
@import './styles/containers.css';
@import './styles/typography.css';

@font-face {
  font-family: 'Calibre';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/calibre-regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Calibre';
  font-style: normal;
  font-weight: 500;
  src: url('/fonts/calibre-medium.woff2') format('woff2');
}

@font-face {
  font-family: 'Calibre';
  font-style: normal;
  font-weight: 600;
  src: url('/fonts/calibre-semibold.woff2') format('woff2');
}

@font-face {
  font-family: 'Calibre';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/calibre-bold.woff2') format('woff2');
}

@source '../../../packages/design-system/src';

/* @custom-variant dark (&:is(.dark *)); */

@theme inline {
  --color-cta: #002fd9;
  --color-cta-hover: #1446ff;
  --color-cta-active: #002fd9;
  --color-cta-outline: #5177ff;
  --color-disabled: #e2e2e2;
  --color-background: #ffffff;
  --color-primary-dark: #2a2b2e;
  --color-primary-purple: #6833ff;
  --color-primary-pink: #fe31c5;
  --color-divider: #eeeeee;
  --color-grey-light: #dbdbdb;
  --color-grey-medium: #c4c4c4;
  --color-grey-light-text: #606060;
  --color-dark-text: #2a2b2e;
}

/* .dark {
  --background: oklch(0.129 0.042 264.695);
} */

@layer base {
  body {
    @apply bg-background text-primary-dark min-h-screen overflow-x-clip;
    font-family: 'Calibre', sans-serif;
    text-rendering: optimizeLegibility;
    font-size: 16px;
  }
}
